@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/general';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/exp';
@import 'blocks/skills';
@import 'blocks/rating';
@import 'blocks/portfolio';
@import 'blocks/footer';