.about {
    padding: 80px 0 40px;
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 146%;
        text-align: center;
        color: #080708;
        max-width: 750px;
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .about {
        &__text {
            font-size: 18px;
            max-width: 680px;
        }
    }
}