.footer {
    &__main {
        min-height: 200px;
        padding: 40px 0 46px;
        background: url('../img/footer-bg.jpg') center center / cover no-repeat;
    }
    &__title {
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 5px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social {
        display: flex;
        &-link {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }
    &__bottom {
        padding: 12px 0 15px;
        background-color: #010712;
    }
    &__cr {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }
}

@media (max-width: 767px) {
    .footer {
        &__subtitle {
            font-size: 20px;
            line-height: 24px;
        }
        &__social {
            &-link {
                img {
                    width: 35px;
                    height: 35px;
                }
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
        &__flex {
            align-items: flex-end;
        }
        &__cr {
            font-size: 18px;
            line-height: 18px;        
        }
    }
}

@media (max-width: 575px) {
    .footer {
        &__social {
            flex-direction: column;
            &-link {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &__cr {
            font-size: 16px;
            line-height: 16px;
        }
    }
}