.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 50px;
    width: 100%;
    transition: all .5s;
    &__nav {
        padding: 13px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all .5s;
        &:hover {
            color: rgb(245, 245, 245);
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &_scrolled {
        background-color: #fff;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
        .header__item {
            color: #0B46B8;
        }
    }
}