.portfolio {
    padding: 0 0 90px;
    &__title {
        margin-bottom: 45px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 372px repeat(2, 274px);
        grid-auto-rows: 270px;
        row-gap: 18px;
        column-gap: 21px;
        place-content: center;
    }
    &__item {
        position: relative;
        &:first-child {
            grid-row: 1/3;
        }
        &-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all .3s ease-in-out;
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: url('../img/overlay.png') center center / cover no-repeat;
                opacity: .9;
                z-index: 1;
            }
            &:hover {
                opacity: 1;
            }
        }
        &-title {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 5px;
        }
        &-link {
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                color: #FFFFFF;
            }
        }
        &-title, &-link {
            position: relative;
            z-index: 2;
        }
    }
}