.promo {
    background: url('../img/promo-bg.jpg') center center / cover no-repeat;
    // min-height: 90vh; 
    // padding: 240px 0 240px;
    position: relative;
    overflow: hidden;
    &__wrapper {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 230px 0 300px;
    }
    &__title {
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 18px;
    }
    &__skills {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.9);
        max-width: 450px;
        p {
            &:nth-child(2) {
                opacity: .3;
            }
        }
    }
    &__wave {
        position: absolute;
        bottom: -2px;
        left: 0;
        svg {
            width: 100vw;
            height: 100%;
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 752px;
    }
    .promo {
        &__title {
            font-size: 44px;
            line-height: 58px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__wave {
            bottom: -4px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        &__title {
            font-size: 34px;
            line-height: 40px;
        }
        &__skills {
            font-size: 16px;
        }
        &__wave {
            bottom: -7px;
        }
    }
}

@media (max-width: 374px) {
    .promo {
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
    }
} 