.promo {
    background: url('../img/promo-bg.jpg') center center / cover no-repeat;
    min-height: 640px;
    padding: 202px 0 100px;
    position: relative;
    &__title {
        color: #FFFFFF;
        margin-bottom: 18px;
    }
    &__skills {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.7);
        max-width: 420px;
    }
    &__wave {
        position: absolute;
        bottom: -2px;
        left: 0;
        svg {
            width: 100vw;
            height: 100%;
        }
    }
}