.rating {
    padding: 70px 0 80px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-auto-rows: auto;
        column-gap: 22px;
        row-gap: 45px;
        place-content: center;
    }
    &__item {
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        &-title, &-num {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
        &-bar {
            height: 16px;
            background: #E8E4DE;
            border-radius: 4px;
            box-shadow: -2px -4px 15px rgba(223, 232, 255, 0.25), 2px 4px 16px rgba(19, 53, 91, 0.2), inset -4px -4px 6px rgba(255, 255, 255, 0.6), inset 0px 4px 18px rgba(45, 45, 45, 0.05);
        }
        &-progress {
            height: 100%;
            background: linear-gradient(270deg, #1A89E7 0%, #0B46B8 100%);
            border-radius: 4px;
        }
    }
}

@media (max-width: 1199px) {
    .rating {
        &__grid {
            grid-template-columns: repeat(2, 370px);
        }
    }
}

@media (max-width: 991px) {
    .rating {
        &__grid {
            grid-template-columns: repeat(2, 355px);
            column-gap: 26px;
        }
    }
}

@media (max-width: 767px) {
    .rating {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 575px) {
    .rating {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}